@page "/home"

<LayoutBuyer></LayoutBuyer>
<style>
    .app{
        
        margin-left:14%;
        padding:5px;
       
    }
    .top-bid{
        display: flex;
        flex-direction: column;
        width:95%;
        background-color: white;
        padding:20px;
        border-radius:10px;
        margin-right:auto;
        margin-left:auto;
        height:30%;
    }
    .top-bid img{
        width:100%;
        height:50%;

    }
    h3{
        margin-left: 11%;
        
    }
    .top-details{
        display:flex;
        justify-content:space-between;
        padding-right:10px;
        padding-left: 10px;
        margin-top:-50px;
        
    }

    .top-left{
        width:45%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: rgba(255, 255, 255, 0.7);
        padding:2%;
        border-radius:10px;
    }

    .top-right{
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 2%;
        border-radius: 10px;
        align-items: start;
    }
    .btn-view{
        background-color:black;
        color:white;
        width:90%;
        padding:5px;
        height:25px;
        border-radius:5px;
    }

    .top-right input {
        border:none;
        outline:none;
        border: solid 1px;
        border-color: #CB4427;
        width: 90%;
        padding:5px;
        border-radius:10px;
        
    }

    .btn-bid{
        background-color: #CB4427;
        border: none;
        width: 90%;
        padding: 5px;
        height: 25px;
        border-radius: 5px;
        color: white;

    }

    .top-details p{
        color: #CB4427;
        font-weight:bold;
    }
   
</style>

<div class="app">
    <h3>Top On Auction</h3>
    <div class="top-bid">
        
        <div class="topb-img">
            <img src="/images/pics/3in1.png" />
        </div>
        <div class="top-details">

            <div class="top-left">
                <h4> Three In One Art </h4>
                <span style="display:flex;">Higest Bid: <p> Ksh 31,000</p></span>
                <span style="display:flex;">Start Price: <p>Ksh 30,000</p></span>
                <a><button class="btn-view">View Item</button></a>
            </div>
            <div class="top-right">
                <h4>01D:05H:10M:30S</h4>
                <p style="background-color:#FFE9E4; Padding:4px;">Biding Open</p>
                <input type="text" placeholder="Enter amount" />
                <button class="btn-bid">Bid Now</button>
            </div>
        </div>
    </div>
</div>


@code {

}
