@page "/"

<LayoutBuyer></LayoutBuyer>

<div class ="main" style="margin-top:70px; display:flex;">

    <div style="width:40%;">
        <h3>Welcome to BIDBase</h3>

        <h1> Bid, win & collect your favorite Art.</h1>

        <p>
            You are probably familiar with online auctions where the highest bid wins.
            Here we're doing it different.
            When the timer runs out, the lowest unique bid wins!
            You could get that Art Gallery for fraction of retail price.

        </p>
    </div>
    <div>
    </div>
   
</div>



