@page "/"

<Mylayout></Mylayout>

<div class ="l-main" >
    <div class="landing-left">

        <h3 class="h1l">Welcome to BIDBase</h3>

        <div class="typing">
            <h1>Bid, Win & </h1>

            <h1 style="display:flex; justify-content:center;">
                <span class="text1"> Collect Your Favorite Art</span>
                <span class="text2">Get Coupons Upon Purchase.</span>
            </h1>
        </div>


        <p>
            You are probably familiar with online auctions where the highest bid wins.
            Here we're doing it different.
            When the timer runs out, the lowest unique bid wins!
            You could get that Art Gallery for fraction of retail price.

        </p>

        <a href="/login"><button class="bidbtn"> Start Bidding</button></a>
    </div>

    <div class="l-right">
        <h3 class="h1r">Welcome to BIDBase</h3>
        <img src="/images/pics/BidPic.png"/>
    </div>
   
</div>



