* {
    margin: 0;
    padding: 0;
}

.main {
    background-image: url('https://images.unsplash.com/photo-1498721441674-67b1e1e17a5b?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    display: flex;
    height: 100vh;
}

.left {
    width: 50%;
}

.right {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 5%;
    justify-content: center;
}

.logform {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    height: 500px;
    width: 90%;
    max-width: 400px;
    min-width: 250px;
    gap: 10px;
    padding: 10%;
    border-radius: 10px;
}

    .logform input {
        outline: none;
        border: none;
        height: 25px;
        border-radius: 10px;
        padding: 5px;
    }

.loginbtn {
    background-color: #CB4427;
    color: white;
    border: none;
    height: 35px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.logform a {
    text-decoration: none;
    color: #CB4427;
}
@media (max-width: 800px) {
    .left{
        display:none;
        
    }
    .right{
        width:100%;
       margin-left:auto;
       margin-right:auto;
    }
  
}