@page "/myart"


@inject HttpClient Http
@using System.Globalization;
<LayoutSeller></LayoutSeller>
<style>
    .app{
        margin-left: 14%;
        display:flex;
        padding-top:62px;
        width:86%;
    }
    .addArt{
        width:20%;
    }
    .art-item{
        display:flex;
        flex-wrap:wrap;
        gap:10px;
        width:66%;

    }
</style>

<div class="app" >

       <div class="art-item">
            @foreach (var art in arts)
            {
                <SingleArt>
                    art="art"
                    OnRemoveArt="()=> RemoveArt(art)"
                   
                </SingleArt>
            }
        </div>
    </div>


@code {

    public List<Art> arts = new List<Art>();

    /// <summary>
    /// public bool IsConfirmed { get; set; }
    /// </summary>
    /// <returns></returns>

    protected override async Task OnInitializedAsync()
    {

        //call api to get the products to display

        var artg = await Http.GetFromJsonAsync<List<Art>>("sample-data/artpics.json");
        if (artg.Any())
        {
            arts = artg;
        }
    }
   



    public void RemoveArt(Art art)
    {
       arts.Remove(art);

    }
   

}