@page "/myorders"
<MyBuyerLayout></MyBuyerLayout>
<style>
    .app{
        padding:5px; 
        display:flex;
        flex-direction:column;
        justify-content: center;
        gap:15px;
    }

    .topon {
        margin-top: 51px;
        margin-right: auto;
        margin-left: auto;
        color: #CB4427
    }

    .bid-item{
        width:95%;
        display:flex;
        height:30%;
        background-color:white;
        flex-wrap:wrap;
        justify-content:center;
    }
    .bid-img{
        width:20%;
        padding:5px;
    }
    .bid-item img{
        height:70px;
        width:80%;
        max-width:100px;
        
    }

    .bid-details{
        width:80%;
        display: flex;
        justify-content:space-between;
        align-content:center;
        padding:5px;
        flex-wrap:wrap;
        gap:10px;
    }
    .bid-details div{
        display:flex;
        flex-direction:column;
       justify-content:space-between;
       height:60px;
    }
    .bid-details p{
            color: #CB4427;
            font-weight: bold;
    }

    .btn-bid {
        background-color: #CB4427;
        border: none;
        width: 90%;
        padding: 5px;
        height: 25px;
        border-radius: 5px;
        color: white;
    }

    .btn-bid-comp {
        background-color: forestgreen;
        border: none;
        width: 90%;
        padding: 5px;
        height: 25px;
        border-radius: 5px;
        color: white;
    }

    .btn-bid-won {
        background-color: black;
        border: none;
        width: 90%;
        padding: 5px;
        height: 25px;
        border-radius: 5px;
        color: white;
    }
 </style>

<div class="app">
    <h3 class="topon"> My Orders</h3>

    <div class="bid-item">
        <div class="bid-img">
            <img src="/images/pics/Monalisa.png" />
        </div>
        <div class="bid-details">
            <div class="bid-left">
                <h4> Monalisa Startue </h4>
                <p style="background-color:#FFE9E4; Padding:4px;">Payment: Pending</p>
            </div>
            <div class="bid-right">
                 <span style="display:flex;">Amount: <p> Ksh 32,000</p></span>
                <button class="btn-bid-won">Pay Now</button>
            </div>
        </div>
    </div>

    <div class="bid-item">
        <div class="bid-img">
            <img src="/images/pics/Monalisa.png" />
        </div>
        <div class="bid-details">
            <div class="bid-left">
                <h4> Monalisa Startue </h4>
                <p style="background-color:#FFE9E4; Padding:4px;">Payment: Success</p>
            </div>
            <div class="bid-right">
                <span style="display:flex;">Amount: <p> Ksh 32,000</p></span>
                <button class="btn-bid-comp">Payment Complete</button>
            </div>
        </div>
    </div>
</div>

@code {

}
