@page "/register"

<style>
    * {
        margin: 0;
        padding: 0;
    }

    .main {
        background-image: url('https://images.unsplash.com/photo-1531343983535-681659059ec1?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        display: flex;
        flex-direction:row-reverse;
        height: 100vh;
    }

    .left {
        width: 50%;
    }

    .right {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 5%;
        justify-content: center;
    }

    .logform {
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.9);
        height: 99%;
        width: 90%;
        gap: 2%;
        padding: 10%;
        border-radius: 10px;
        max-width: 400px;
    }

        .logform input {
            outline: none;
            border: none;
            height: 25px;
            border-radius: 10px;
            padding: 5px;
        }

    .loginbtn {
        background-color: #CB4427;
        color: white;
        border: none;
        height: 35px;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
    }

    .logform a {
        text-decoration: none;
        color: #CB4427;
    }

</style>

<div class="main">
    <div class="left">
    </div>

    <div class="right">

        <div class="logform">
            <h3>Register</h3>

            <label for="names">Full Names:</label>
            <input type="text" id="names" name="names" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="phone">Phone Number:</label>
            <input type="number" id="phone" name="phone" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <label for="password">Comfirm Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit" class="loginbtn">Register</button>

            <p>Already a user?<a href="/Login">Login Here</a></p>

        </div>

    </div>

</div>

@code {

}
