
@inject IJSRuntime JSRuntime


<Nav>
    <div class="left">
        <span class="ham" @onclick="OpenNav">☰</span>

        <img class="logo" src="/images/pics/ArtBbase.png" /> 
        <a class="home" href="home">Home</a>
        <a href="home">How It Works</a>

    </div>
  <div class="right">
        <a href="Login"><button class="btnsell">Sell</button></a>
      <a href="Login"><button class="btn">Account</button></a>
  </div>
</Nav>
<div id="main-content" style="@($"margin-left: {mainContentMargin}px;")">
</div>


<div id="sidebar" class="sidebar" style="@($"width: {sidebarWidth}px;")">

    <div class="img-holder">
        <a href="javascript:void(0)" class="close-btn" @onclick="CloseNav">×</a>
        <img src="/images/pics/Monalisa.png" />
        <h5 class="" style="margin-top:15px;"> Buyer</h5>
    </div>

    <div class="buyer">
        <a href="mybids"><button>My Bids</button></a>
        <a href="mywins"><button>My Wins</button></a>
        <a href="myorders"><button>My Orders</button></a>

    </div>

    <div>
        <a href="/"><button>Logout</button></a>
    </div>
   
</div>



@code {
    private int sidebarWidth = 0;
    private int mainContentMargin = 0;

    private void OpenNav()
    {
        sidebarWidth = 180;
        mainContentMargin = 180;

    }

    private void CloseNav()
    {
        sidebarWidth = 0;
        mainContentMargin = 0;
    }
}
