<style>
    .sidebar{
        display:flex;
        flex-direction:column;
        position:fixed;
        width:14%;  
        min-width:100px;
        height:90vh;
        justify-content:space-between;
        background-color:white;
        padding:5px;
        border-radius:10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow added */
    }
    .buyer{
        display:flex;
        flex-direction:column;
    }
    .sidebar button{
        color:#CB4427;
        width:90%;
        border-radius:10px;
        border-color: #CB4427;
        background-color:white;
        padding:4px;
        border:solid;
        font-weight:600;
    }
    .buyer{
        display:flex;
        flex-direction:column;
        gap:20px;
    }
    h3{
        color: #CB4427;
        margin-left: auto;
        margin-right: auto;
    }
    .sidebar img{
        margin-left: auto;
        margin-right: auto;
        width:80%;
        min-width:50px;
        min-height:50px;
        border:solid;
        border-color: #CB4427;
        
    }
    .img-holder{
        display:flex;
        flex-direction:column;
        gap:15px;
        margin-left:auto;
        margin-right:auto;
        align-content:center;
    }
</style>
<header>
    <nav class="navbar">
        <a href="#" class="logo"><i class=""></i> <img class="logo" src="/images/pics/ArtBbase.png" /> </a>
        <a class="" href="#home">Home</a>
        <a href="#">How It Works</a>
    </nav>

    <div class="btns">
        <a href="/seller">Sell</a>
        <button class="btn"><a href="/login">Account</a></button>
    </div>
</header>

<div class="sidebar">

    <div class="img-holder">
        <img src="/images/pics/Monalisa.png" />
        <h3>Buyer</h3>
    </div>
    <div class="buyer">
        
        <a><button>My Bids</button></a>
        <a><button>My Wins</button></a>
        <a ><button>My Orders</button></a>
        
    </div>
    <a href="/"><button>Logout</button></a>
</div>

@code {

}
