<header>

    <a href="#" class="logo"><i class="fas fa-tshirt"></i>ArtBbase</a>

    <nav class="navbar">
        <a class="" href="#home">home</a>
        <a href="#">How It works</a>
        

    </nav>

    <div class="icons">
        <button class="btn">Buy</button>
        <button class="btn">Sell<a href="#">How It works</a></button>
        <button class="btn">My Account</button>
        <i class="fas fa-bars" id="menu-bars"></i>
    </div>

</header>

@code {
     
}
