body {
}

.side_bar_container {
    margin-top: 61px;
    position:fixed;
   



}
.navbar .menu_icon {
    display:none;
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 13%;
    min-width: 100px;
    height: 90vh;
    justify-content: space-between;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow added */
}

.buyer {
    display: flex;
    flex-direction: column;
}

.sidebar button {
    color: #CB4427;
    width: 90%;
    border-radius: 10px;
    border-color: #CB4427;
    background-color: white;
    padding: 6px;
    border: solid 2px;
    font-weight: 600;
}

.buyer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h3 {
    color: #CB4427;
    margin-left: auto;
    margin-right: auto;
}

.sidebar img {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-width: 50px;
    min-height: 50px;
    max-width: 120px;
    max-height: 120px;
    border: solid;
    border-color: #CB4427;
    border-radius: 500px;
}

.img-holder {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

@media (max-width: 760px) {
    .toggle_menu {
        transform:translate(-30rem);
    }
    .app{
        margin-right:auto;
        margin-left:auto;
    }

    .navbar .menu_icon {
        display: unset;
    }
}