body {
}

header{
    margin-top:0;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    height: 8%;
    background-color:white;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow added */
}

nav {
    display: flex;
    align-items: center;
}
.logo{
    width:140px;
}


a {
    text-decoration: none;
    margin: 0 10px;
    color: #333; /* Adjust link color */
}

nav a {
    color: black;
    
}

.btn a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.btn {
    background-color: #CB4427;
    color: white;
    border: none;
    height: 35px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
    header {
        flex-direction: row;
        align-items: flex-start;
        height: auto;
    }

    nav {
        margin-top: 10px;
    }

    .btns {
        margin-top: 10px;
    }
}
}
